.Ticket {
    display: flex;
    flex-direction: row;
    min-width: 332px;
    margin: 30px 80px;
}

.Ticket__image_container {
    width: 50%;
}

.Ticket__image {
    background-image: url(https://via.placeholder.com/400);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    margin-left: 40px;
}

.Ticket__data {
    max-width: 458px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    background-color: white;
    box-shadow: 0 2px 9px 0 rgba(0,0.3,0,0.26), 0 0 0.7px 0 rgba(0, 1, 4, 1);
}

.Ticket__data__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* height: 200px; */
    /* background-color: grey; */
    margin: 20px;
}

.main_text > h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 10px;
}

.Ticket__data__meta_text {
    justify-content: space-between;
}

.Ticket__data__meta_text > p {
    font-size: 17px;
    margin: 0 10px;
}

.pricing_container {
    text-align: center;
    justify-content: space-evenly;
    width: -webkit-fill-available;
}



.pricing_info> h4 {
    font-size: 26px;
}

.add_to_cart > button {
    width: 90%;
    height: 30px;
    color: white;
    background-color: #552583;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    outline: none !important;
}

.game_note_ticket {
    font-size: 25px;
    font-weight: bold;
    color: #FDB927;
    text-align: center;
    margin: 15px 0 -29px 0;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}



/* .pricing_container {
width: 48%;
} */



.pricing > h3 {
    margin: auto 5px;
    font-size: 30px;
    font-weight: bold;
}

.pricing_info > p {
    font-size: 18px;
    margin: auto 5px;
}

.pricing {
    justify-content: center;
}

.pricing > p {
    margin-top: 15px;
}

#compPrice {
    color: rgb(152, 21, 21);
}

#ourPrice {
    color: rgb(9, 94, 9);
}

.ticket_pair {
    font-size: 14px;
}

/* .pricing_info {
margin: auto 5px;
} */

.sub_section {
    margin: auto 20px;
}

.section3 {
    text-align: center;
}

.section3.sub_section {
    font-size: 20px;
    text-align: center;
}

.quantity {
    justify-content: center;
}


.modal {
    font-size: 12px;
    color: black;
    height: 230px;
    border: 9px solid #FDB927;
  }
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 35px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.modal_button {
    width: 90%;
    height: 35px;
    color: white;
    background-color: #552583;
    border-radius: 10px;
    text-align: center;
    margin: 14px auto;
    font-size: 21px;
    padding: 4px 0;
}




@media screen and (max-width: 960px) {
    .Ticket {
        flex-direction: column;
        padding: 0;
    }

    .Ticket__image_container {
        height: 300px;
        width: auto;
    }

    .Ticket__image {
        background-repeat: no-repeat;
        background-position: center;
        height: 75%;
        background-size: contain;
        margin: 20px auto;
    }

    .pricing_container {
        text-align: center;
        justify-content: space-evenly;
        width: -webkit-fill-available;
    }

    .pricing_info>h3 {
        font-size: 30px;
        font-weight: bold;
    }

    .pricing_info>p {
        font-size: 12px;
    }

    .pricing_info {
        width: 150px;
        text-align: center;
    }
}
