section.UpcomingGames{
    display: flex;
    height: 600px;
    background-color: #FDB927;
}

.UpcomingGames.title__bg {
    margin: 68px auto 0 auto;
    text-align: left;
    background: #552583;
    position: absolute;
    right: 0;
    width: 42%;
    z-index: 1;
}

.image_logo_container {
    margin-top: 10px;
}

.UpcomingGames>h1 {
    color: #FDB927;
    padding-left: 20px;
    font-weight: bold;
}

.UpcomingGames.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 87%;
    
}

.UpcomingGames.grp {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0;
    padding: 60px 15px 0 0;
    margin: 5px 0 0 0px;
}

.UpcomingGames.text__grp {
    margin-right: 5px;
}

.UpcomingGames.image {
    width: 100px;
    height: 100px;
    background-color: #552583;
    margin-right: 20px;
}

.UpcomingGames>h2 {
    color: #552583;
    font-size: 24px;
    margin-bottom: 7px;
}

.UpcomingGames>p {
    color: white;
    font-size: 14px;
}

#UpcomingGames_bk_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: .5;
    background-image: url('../../images/site_pngs/2018-1004_DSC7294_lebron.png')
}

@media screen and (max-width: 560px) {
    #UpcomingGames_bk_img {
        display: none;
    }
    
    .UpcomingGames.title__bg {
        margin-top: 30px;
        width: 80%;
    }

    .UpcomingGames.left__container {
        width: 100%;
    }

    .UpcomingGames.right__container {
        width: 0;
    }

    .UpcomingGames.container {
        display: flex;
        flex-direction: column;
        margin-top: 115px;
        
    }

    .UpcomingGames.grp {
        padding: 5px;
        margin: 6px 0;
        flex-direction: row-reverse;
        text-align: right;
    }
    .UpcomingGames.image {
        margin-left: 10px;
        margin-right: -9px;
    }
}



