section.HomeSplash {
    height: 100%;
}

.home_main.bg_image {
    height: 600px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10% solid white;
    margin-left: -40px;
    background-image: url(/static/media/MVIMG_20171027_211957.4234c2ad.jpg);
}

.home_main.bg_text_block{
    display: block;
    position: absolute;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 70%;
    background: #FDB927;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_main.text__grouping {
    color: #552583;
    padding: 20px;
    opacity: 1;
}

.site__name{
    font-size: 40px;
    font-weight: bold;
}

.home_main.btn{
    color: white;
    text-align: center;
    background: #552583;
    width: 200px;
    padding: 10px;
    font-size: 30px;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home_main.container {
    background-color: #FDB927;
}