.TicketListPage {
    margin: 0;
    background: white;
    padding: 9px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.TicketListPage.search_functions {
    display: flex;
    flex-direction: row;
    /* margin: 0 30px; */
}

div.search_functions, div.search_functions > * {
    margin: 0 40px;
}

#sortby {
    margin-right: 10px;
}


