.CartPage {
    margin: 0 10px;
    min-width: 281px;
}

.text-warning {
    text-align: center;
    font-size: 20px;
    margin: 50px 0;
}

.cancel_header {
    font-size: 24px;
    text-align: center;
    margin: 75px 0;
}
