section.WhoWeAre{
    display: flex;
    height: 600px;
    background-color: #FDB927;
}

.WhoWeAre.title__bg {
    margin: 68px auto 0 auto;
    text-align: left;
    background: #552583;
    position: absolute;
    right: 0;
    width: 42%;
    z-index: 1;
}

.whoWeAreText_container {
    margin: auto auto;
    padding: 30px;
}

.WhoWeAre>h1 {
    color: #FDB927;
    padding-left: 20px;
    font-weight: bold;
}

.WhoWeAre .left__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.WhoWeAre.grp {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0;
    padding: 60px 15px 0 0;
    margin: 5px 0 0 0px;
}

.WhoWeAre.text__grp {
    margin-right: 5px;
}

.WhoWeAre.image {
    width: 100px;
    height: 100px;
    background-color: #552583;
    margin-right: 20px;
}

.WhoWeAre>h2 {
    color: #552583;
    font-size: 24px;
    margin-bottom: 7px;
}

.WhoWeAre>p {
    color: white;
    font-size: 17px;
    width: 100%;
    padding: 60px;
    text-align: left;
    color: #552583;
}

.WhoWeAre-image {
    height: 100%;
    opacity: .5;
    max-width: 100%;
    object-fit: cover;
}

.left__container {
    width: 50%;
    text-align: center;
}

.right__container {
    width: 50%;
    text-align: center;
}

p#who_we_are_p {
    font-size: 21px;
    text-align: left;
    max-width: 490px;
    margin: 0 24px;
}

.large-text {
    font-size: 24px;
}

@media screen and (max-width: 560px) {
    #WhoWeAre {
        display: none;
    }

    .WhoWeAre>p {
        margin-top: 100px;
    }
    
    .WhoWeAre.title__bg {
        width: 80%;
        margin-top: 30px;
    }

    .WhoWeAre.left__container {
        width: 100%;
    }

    .WhoWeAre.right__container {
        width: 0;
    }

    .WhoWeAre.container {
        display: flex;
        flex-direction: column;
        margin-top: 176px; 
    }

    .WhoWeAre.grp {
        padding: 5px;
        margin: 6px 0;
        flex-direction: row-reverse;
        text-align: right;
    }
    .WhoWeAre.image {
        margin-left: 10px;
        margin-right: 6px;
    }

    p#who_we_are_p {
        font-size: 5vw;
        margin-top: 86px;
    }
}
