.MainFooter {
    height: 70px;
    background: white;
    text-align: center;
    border-top: 5px solid #FDB927;
    padding-top: 18px;
}

.MainFooter>p {
    padding: 10px;;
}

.fb-like {
    padding: 10px;;
}