.MainHeader {
    min-width: 320px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px;
    align-items: center;
}

.MainHeader>a {
    margin: auto 0;
}

.site_identity{
    margin: auto 20px auto 13%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site_identity>h1 {
    margin: auto;
    font-size: 20px;
}

.lakeshow_logo {
    background: white;
    width: 300px;
    height: 86px;
    background-image: url('https://photos.smugmug.com/photos/i-S62mzmH/0/S/i-S62mzmH-S.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav_options {
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #FDB927; */
    height: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #552583;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}


@media screen and (max-width: 760px) {
    .MainHeader{
        flex-direction: column;
        justify-content: center;
        height: 128px
    }

    li {
        margin: 0 -4px;
    }
}



