.Seats {
  width: 85%;
  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.flex-img {
  width: 100%;
}

.seat-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .Seats ul {
    display: flex;
    flex-wrap: wrap;
}
  
.seat_photos li {
  height: 45vh;
  flex-grow: 1;
}

.seat_photos li:last-child {
  flex-grow: 10;
}

li > img {
  border: solid 2px white;
  border-style: solid;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

  
  @media (max-aspect-ratio: 1/1) {
    .seat_photos li {
      height: 21vh;
    }
  }
  
 
  @media (max-height: 480px) {
    .seat_photos li {
      height: 80vh;
    }
  }

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .seat_photos {
      flex-direction: row;
    }
  
    .seat_photos li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  } */