.FaqPage {
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}

.FaqPage_container>h2 {
    font-size: 35px;
    text-align: center;
    /* font-family: 'Gayathri', sans-serif; */
}

.FaqPage.questions {
    margin: 15px 10%;
    background-color: white;
    border-radius: 20px;
}

.FaqPage.questions>h4 {
    font-size: 30px;
    color: #552583;
    font-weight: bold;
}

.FaqPage.questions>p {
    font-size: 20px;
    margin-bottom: 30px;
}

.faGrinWink {
    margin-left: 5px;
}

.hr{
    width: 50%;
}