.FaqPage {
    margin: 30px;
    font-family: 'Roboto', sans-serif;
}

.FaqPage_container>h2 {
    font-size: 35px;
    text-align: center;
    /* font-family: 'Gayathri', sans-serif; */
}

.FaqPage.questions {
    margin: 15px 10%;
    background-color: white;
    border-radius: 20px;
}

.FaqPage h4 {
    font-size: 30px;
    color: #552583;
    font-weight: bold;
}

.FaqPage p {
    font-size: 20px;
}

.faGrinWink {
    margin-left: 5px;
}

.hr{
    width: 50%;
}

.question {
    margin: 10px 0;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 2px 9px 0 rgba(0,0.3,0,0.26), 0 0 0.7px 0 rgba(0, 1, 4, 1);
}