.HomeFooter {
    background-color: #552583;
}

.HomeFooter.bg_img {
    height: 600px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -40px;
    opacity: 0.5;
    background-image: url('../../images/LakeshowTickets/2018-1004_221255.jpg');
    background-color: #552583;
}

.get_tickets.container {
    position: absolute;
    background-color: #FDB927;
    width: 50%;
    top: 2500px;
    right: 25%;
    text-align: center;
    border-radius: 0 20px 0 20px;
}

.HomeFooter.form__btns{
    color: white;
    text-align: center;
    background-color: #552583;
}

.get_tickets>button {
    width: 25%;
    margin: 0 50px 50px 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
    background-color: #552583;
    color: white;
}

.get_tickets>h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 46px;
    color: white;
}

@media screen and (max-width: 835px) {
    .get_tickets>button {
        width: 44%;
        margin: 0 4px 30px 4px;
        font-size: 14px;
    }
    .get_tickets>h1 {
        font-size: 32px;
        padding: 18px;
    }
    .get_tickets.container {
        position: absolute;
        width: 100%;
        top: 2598px;
        right: 10%;
        border-radius: 0 20px 0 20px;
        width: 80%;
        margin: 0;
    }
}