.register__btn {
    margin: -15px -5px 0px -5px;
}

.error {
    color: red;
}

.gender_grp {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.birthdate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#birthdate {
    padding-top: 25px;
}

#dob {
    width: 277px;
}